*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana,sans-serif;
}
.mySlide{
    display:none;
}
/* 幻灯片容器 */
.slideshow-container{
    max-width: 1000px;
    position: relative;
    /* 相对定位，相对原来正常位置 */
    
    
}
/* 上一张下一张 */
.prev, .next{
    cursor: pointer;/*鼠标在此处光标形状*/
    position: absolute;
    /* 绝对定位，父元素 */
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #717171;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
/* 标题文本 */
.text{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext{
    color: #717171;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 10px 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* .active, .dot{
    background-color: #717171;
} */
.fade{
    -webkit-animation-name: fade;
    -moz-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity:  .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity:  .4;}
    to{opacity: 1;}
}